{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
    <section class="py-2">
        <div class = "title text-center py-5 bg-light">
            <h2 class = "position-relative d-inline-block">Hesabım</h2>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="container-fluid">
                <div class="row">
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-white text-center bg-danger mt-2 uyari" id="hata-bastir">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <div class="col-md-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home"
                               role="tab" aria-controls="v-pills-home" aria-selected="true">
                                Bilgilerim
                            </a>
                            <a class="nav-link" id="v-pills-dashboard-tab" data-bs-toggle="pill"
                               href="#v-pills-dashboard" role="tab" aria-controls="v-pills-dashboard"
                               aria-selected="false">
                                Şifre Değiştir
                            </a>
                            <a class="nav-link" id="v-pills-addreses-tab" data-bs-toggle="pill"
                               href="#v-pills-addreses" role="tab" aria-controls="v-pills-addreses"
                               aria-selected="false">
                                Adreslerim
                            </a>
                            <!-- Diğer menü öğeleri buraya eklenebilir -->
                        </div>
                    </div>
                    <div class="col-md-8 offset-md-1">
                        <div class="container tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                                 aria-labelledby="v-pills-home-tab">
                                <!-- Burada kullanıcı bilgilerini gösterin -->
                                <h3 class="text-center text-decoration-underline"><i>Bilgilerim</i></h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <th scope="row">Ad</th>
                                            <td>{{ user.isim }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Soyad</th>
                                            <td>{{ user.soyisim }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Mailiniz</th>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Telefonunuz</th>
                                            <td>{% if user.cep_telefonu %}{{ user.cep_telefonu }}{% else %}
                                                ---{% endif %}</td>
                                        </tr>
                                        <!-- Diğer kullanıcı bilgileri buraya eklenebilir -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-dashboard" role="tabpanel"
                                 aria-labelledby="v-pills-dashboard-tab">
                                 <h3 class="text-center text-decoration-underline"><i>Şifre Değiştir</i></h3>
                                {% include 'account/şifre_yenileme.html' %}
                            </div>
                            <div class="tab-pane fade" id="v-pills-addreses" role="tabpanel"
                                 aria-labelledby="v-pills-addreses-tab">
                                 <h3 class="text-center text-decoration-underline"><i>Adreslerim</i></h3>
                                <div class="row">
                                    {% if adreses %}
                                        <div class="add-list-yeni">
                                            <a href="{% url 'yeni_adres_ekle' %}"
                                            type="button" class="btn btn-outline-success">Yeni Adres Ekle</a>
                                        </div>
                                        {% csrf_token %}
                                        <div class="add-list" class="table-responsive">
                                            <table class="table align-middle table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Adres Başlığı</th>
                                                    <th scope="col">Alıcı İsmi</th>
                                                    <th scope="col">Adres</th>
                                                    <th scope="col">İl</th>
                                                    <th scope="col">İlçe</th>
                                                    <th scope="col">Mahalle</th>
                                                    <th scope="col">Cep</th>
                                                    <th scope="col">İşlemler</th>
                                                </tr>
                                                </thead>
                                                <tbody class="table-group-divider">
                                                {% for adres in adreses %}
                                                    <tr class="align-bottom">
                                                        <td>{{ adres.baslik }}</td>
                                                        <td>{{ adres.isim }}</td>
                                                        <td>{{ adres.adres }}</td>
                                                        <td>{{ adres.ilce.isim }}</td>
                                                        <td>{{ adres.il.isim }}</td>
                                                        <td>{{ adres.mahalle.isim }}</td>
                                                        <td>{{ adres.gsm }}</td>
                                                        <td>
                                                            {# İşlemler için düzenleme ve silme linklerini ekleyebilirsiniz #}
{#                                                            <!-- <a href="{% url 'adres_guncelle' okul.slug adres.pk %}" class="btn btn-type-primary btn-edit">Düzenle</a> -->#}
{#                                                            <!-- <a href="#" data-post="{% url 'adres_sil' okul.slug adres.pk %}" data-post-confirm="Adresi silmek istediğinizden emin misiniz?" class="btn btn-type-secondary btn-delete">Sil</a> -->#}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    {% else %}
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <p>Sistemimizde kayıtlı adresiniz bulunmamaktadır.</p>
                                            <a href="{% url 'yeni_adres_ekle' %}"
                                               class="btn btn-type-primary">Yeni Adres Ekle</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Diğer tab içerikleri buraya eklenebilir -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


