{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
    <header class="bg-light py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
            </div>
        </div>
    </header>
    <section class="py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 bg-white form-border-radius">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-9 mt-3">
                        <h3 class="font-weight-bold text-center pt-2 pb-3">Sifrenizi Yenilemek İçin Mail Adresinizi
                            Yazınız.</h3>
                    </div>
                </div>
                <form method="POST" action="{% url 'forget-password' %}">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-white text-center bg-danger mt-2 uyari" id="hata-bastir">{{ message }}</p>
                        {% endfor %}
                    {% endif %}


                    <div class="field pb-3">
                        <input type="email" name="email" class="form-control" placeholder="Emailinizi Giriniz..."
                               required>
                    </div>

                    <div class="field align-items-center pt-3 pb-4">
                        <button class="kayit-ol-buton" id="mail-with-signup" type="submit">Mail Gönder</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}