{% load static %}
<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">L</span>ayla Butik</h1>
            </a>
            <p>Butik sitemizde size özel ürünleri keşfedin. En yeni koleksiyonlarımız ve avantajlı fiyatlarımızla sizi bekliyoruz!</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Batı mah, Pendik, İstanbul</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@layla.com</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Hızlı Linkler</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-dark mb-2" href="{% url 'index.html' %}"><i class="fa fa-angle-right mr-2"></i>Anasayfa</a>
                        <a class="text-dark mb-2" href="{% url 'products' %}"><i class="fa fa-angle-right mr-2"></i>Ürünler</a>
                        <a class="text-dark mb-2" href="{% url 'contact' %}"><i class="fa fa-angle-right mr-2"></i>Bize Ulaş</a>
                        {% if request.user.is_authenticated %}
                        <a class="text-dark mb-2" href="{% url 'anasayfa' %}"><i class="fa fa-angle-right mr-2"></i>Hesabım</a>
                        <a class="text-dark mb-2" href="{% url 'logout' %}"><i class="fa fa-angle-right mr-2"></i>Çıkış Yap</a>
                        {% else %}
                        <a class="text-dark mb-2" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-angle-right mr-2"></i>Layla'ya Giriş</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="font-weight-bold text-dark mb-4">Kategoriler</h5>
                    <div class="d-flex flex-column justify-content-start">
                        {% for kategori in ana_kategoriler %}
                            {% if forloop.counter <= 10 %}
                            <a class="text-dark mb-2" href="{% url 'urunler_by_kategori' kategori.id %}"><i class="fa fa-angle-right mr-2"></i>{{ kategori.baslik }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <img class="img-fluid rounded-circle" src="{% static 'theme/img/layla.jpeg' %}" alt="layla"
                    style="max-width: 200px; max-height: 200px;"/></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="https://www.laylabutik.com/">laylabutik.com</a>. Tüm hakları saklıdır.
                <a href="" target="_blank"> Sinan Aslan</a> tarafından yapılmıştır.
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="{% static 'theme/img/payments.png' %}" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

{% if request.user.is_authenticated %}
    <script>
        function basketItemQuantity() {
            $.ajax({
                url: '/satis/sepet_urun_adeti/',
                type: 'GET',
                success: function(data) {
                    if (data) {
                        if(data.sepet_urun_adeti>0){
                            updateSepetUrunAdeti(data.sepet_urun_adeti);
                        }
                    } else {
                        console.log('Hata:', data.error);
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        function updateSepetUrunAdeti(sepetUrunAdeti) {
            var sepetUrunAdetiBadge = document.getElementById('sepetUrunAdetiBadge');
            if (sepetUrunAdetiBadge) {
                sepetUrunAdetiBadge.textContent = sepetUrunAdeti;
            }
        }
    
        // Sayfa yüklendiğinde ve diğer olaylarda sepetteki ürün adetini al
        document.addEventListener('DOMContentLoaded', function () {
            basketItemQuantity();
        });
    </script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
    {% if messages %}
        {% for flashmsg in messages %}
            {% if flashmsg.tags == 'success'%}
                alertify.set('notifier','position', 'top-right');
                alertify.success('{{flashmsg}}');
            {% elif flashmsg.tags == 'error' %}
                alertify.set('notifier','position', 'top-right');
                alertify.error('{{flashmsg}}');
            {% endif %}
        {% endfor %}
    {% endif %}
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'theme/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'theme/lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Contact Javascript File -->
<script src="{% static 'theme/mail/jqBootstrapValidation.min.js' %}"></script>
<script src="{% static 'theme/mail/contact.js' %}"></script>

<!-- Template Javascript -->
<script src="{% static 'theme/js/main.js' %}"></script>