{% load static %}
<nav class="navbar navbar-expand-lg navbar-light{% if '/' == request.path %} fixed-top {% endif %} py-0" id="mainNav">
    <div class="container px-4 px-lg-3">
        <a class="navbar-brand" href="{% if '/' == request.path %} #page-top {% else %} {% url 'index.html' %} {% endif %}">
            <img class="img-fluid rounded-circle" src="{% static 'assets/img/layla.jpeg' %}" alt="layla"
                 style="max-width: 75px; max-height: 75px;"/>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link"
                                        href="{% if '/' == request.path %} #page-top {% else %} {% url 'index.html' %} {% endif %}">Anasayfa</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="{% if '/' == request.path %} #about {% else %} {% url 'index.html' %}#about {% endif %}">Hakkımızda</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="{% if '/' == request.path %} #services {% else %} {% url 'products' %} {% endif %}">Ürünler</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="{% if '/' == request.path %} #communication {% else %} {% url 'index.html' %}#communication {% endif %}">İletişim</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Bize Ulaş</a></li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse.show" href="#hesabim">
                        <a class="nav-link" href={% url 'sepetim' %}>
                            <span><strong>Sepetim</strong></span>
                            <span id="sepetUrunAdetiBadge" class="badge bg-danger rounded-circle"></span>
                        </a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse.show" href="#hesabim">
                        <a class="nav-link" href={% url 'anasayfa' %}>
                            <span><strong>Hesabım</strong></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <span><strong>Çıkış Yap</strong></span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#myModal">
                            <span><strong id="trkayit">Layla'ya Giriş</strong></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>