{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
	
<section class="py-2">
    <div class = "title text-center py-5">
        <h2 class = "position-relative d-inline-block">İletişime Geçelim!</h2>
    </div>
    <div class="container px-4 px-lg-5">
        <div id="alert" class="alert-dismissible fade show text-center mx-auto" role="alert" style="max-width: 50%;">
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <p class="text-muted mb-5">Herhangi bir görüş veya öneriniz var mı? Bize bir mesaj gönderin ve en kısa sürede size döneceğiz!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form id="post-form">
                    {% csrf_token %}
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="isim" id="isim" type="text" placeholder="Enter your name..." required />
                        <label for="isim">İsim soyisim</label>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="email" id="e-mail" type="email" placeholder="name@example.com" required />
                        <label for="email">Email adresi</label>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" name="telefon" id="telefon" type="number" placeholder="(123) 456-7890" required />
                        <label for="telefon">Telefon numarası</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" name="baslik" id="baslik" type="text" placeholder="Enter your subject here..." required />
                        <label for="baslik">Başlık</label>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" name="mesaj" id="mesaj" type="text" placeholder="Enter your message here..." style="height: 10rem" required></textarea>
                        <label for="mesaj">Mesaj</label>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-xl" type="submit">Gönder</button></div>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    
$(document).on('submit','#post-form',function(e){
    e.preventDefault();
    $.ajax({
        type:'POST',
        url:'/iletisim/form_olustur',
        data:{
            isim: $('#isim').val(),
            email: $('#e-mail').val(),
            telefon: $('#telefon').val(),
            baslik: $('#baslik').val(),
            mesaj: $('#mesaj').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success:function(data){
            $("#alert").html(data).addClass("alert").addClass("alert-success");
            $('#isim').val('');
            $('#e-mail').val('');
            $('#telefon').val('');
            $('#baslik').val('');
            $('#mesaj').val('');
        },
        error: function(xhr, status, error) {
            var errorMessage = xhr.status + ': ' + xhr.statusText;
            console.error('Ajax Error - ' + errorMessage);
            $("#alert").html(xhr.responseText).addClass("alert").addClass("alert-danger");
        }
    })
})
</script>
{% endblock %}