{% load static %}

{% block content %}

<header class="masthead">
	<div class="container px-4 px-lg-5 h-100">
		<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
			<div class="col-lg-8 align-self-end">
				<h1 class="text-white font-weight-bold">Hoş Geldiniz!</h1>
				<hr class="divider" />
			</div>
			<div class="col-lg-8 align-self-baseline">
				<p class="text-white-75 mb-5">Butik sitemizde size özel ürünleri keşfedin. En yeni koleksiyonlarımız ve avantajlı fiyatlarımızla sizi bekliyoruz!</p>
				<a class="btn btn-primary btn-xl" href="#about">Daha Fazla Bilgi Alın</a>
			</div>
		</div>
	</div>
</header>
{% if error_message %}
    <div class="alert alert-danger alert-dismissible" role="alert" id="error-message">
        {{ error_message }}
        <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
{% endif %}
    
<!-- About test-->
<section class="page-section bg-primary" id="about">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="text-white mt-0">Layla Hakkında</h2>
				<hr class="divider divider-light" />
				<p class="text-white-75 mb-4">Firmamız, müşterilerine kaliteli ürünleri uygun fiyatlarla sunma misyonu ile yola çıkmıştır. Sitemizdeki ürünleri inceleyerek size özel indirimleri ve kampanyaları kaçırmayın!</p>
				<a class="btn btn-light btn-xl" href="#services">Başlamak İçin Tıklayın</a>
			</div>
		</div>
	</div>
</section>
<!-- Portfolio-->
<section class="page-section" id="services">
	<div id="portfolio">
		<div class="container-fluid p-0">
			<h2 class="text-center mt-0">Ürünlerimiz</h2>
			<hr class="divider" />
			<div class="row g-0">
				{% for urun in urunler %}
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="{{ urun.resim.url }}" title="{{urun.isim}}">
						<img class="img-fluid" src="{{ urun.resim.url }}" alt="..." style="width: 650px; height: 450px;"/>
						<div class="portfolio-box-caption">
							<div class="project-category text-white-50">Category</div>
							<div class="project-name">{{urun.isim}}</div>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<section class="page-section bg-dark text-white">
		<div class="container px-4 px-lg-5 text-center">
			<h2 class="mb-4">Daha fazlası için</h2>
			<a class="btn btn-light btn-xl" href="{% url 'products' %}">HEMEN TIKLA !</a>
		</div>
	</section>
</section>
<!-- Contact-->
<section class="page-section" id="communication">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-4 text-center mb-5 mb-lg-0">
				<i class="bi-phone fs-2 mb-3 text-muted"></i>
				<div>+90 123 456 789</div>
			</div>
			<div class="col-lg-4 text-center mb-5 mb-lg-0">
				<i class="bi-map fs-2 mb-3 text-muted"></i>
				<div>Batı, 19 Mayıs Cd. No: 8 E kat 1, 34890 Pendik/İstanbule</div>
			</div>
			<div class="col-lg-4 text-center mb-5 mb-lg-0">
				<i class="bi-envelope fs-2 mb-3 text-muted"></i>
				<div>info@layla.com</div>
			</div>
		</div>
	</div>
</section>
<div class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.66916941793!2d29.22771007641353!3d40.879133927366325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac3092734e89f%3A0x717e26de434244fd!2sLayla%20Moda%20Wedding%20Dress!5e0!3m2!1str!2str!4v1703349477405!5m2!1str!2str"></iframe>
	<br />
	<small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.66916941793!2d29.22771007641353!3d40.879133927366325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac3092734e89f%3A0x717e26de434244fd!2sLayla%20Moda%20Wedding%20Dress!5e0!3m2!1str!2str!4v1703349477405!5m2!1str!2st"></a></small>
</div>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        // Hide the error message after 5 seconds
        setTimeout(function(){
            $('#error-message').fadeOut('slow');
        }, 5000);  // 5000 milliseconds = 5 seconds

        // Close message when clicking on the error message itself
        $('#error-message').click(function(){
            $(this).fadeOut('slow');
        });

        // Prevent closing when clicking on the close button
        $('.btn-close').click(function(e){
            e.stopPropagation(); // Prevents the click event from propagating to the parent element (#error-message)
        });
    });
</script>