{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
	
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Kaliteli Ürün</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Ücretsiz kargo
                </h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14 Gün İade
                </h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">7/24 Destek</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->


<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                {% comment %} <p class="text-right">15 Products</p> {% endcomment %}
                <a href="{% url 'products' %}" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="{% static 'theme/img/cat-1.jpg' %}" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Erkek elbiseleri</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                {% comment %} <p class="text-right">15 Products</p> {% endcomment %}
                <a href="{% url 'products' %}" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="{% static 'theme/img/cat-2.jpg' %}" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Kadın elbiseleri</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                {% comment %} <p class="text-right">15 Products</p> {% endcomment %}
                <a href="{% url 'products' %}" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="{% static 'theme/img/cat-3.jpg' %}" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Çocuk elbiseleri</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                {% comment %} <p class="text-right">15 Products</p> {% endcomment %}
                <a href="{% url 'products' %}" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="{% static 'theme/img/cat-4.jpg' %}" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Aksesuarlar</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                {% comment %} <p class="text-right">15 Products</p> {% endcomment %}
                <a href="{% url 'products' %}" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="{% static 'theme/img/cat-5.jpg' %}" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Çantalar</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                {% comment %} <p class="text-right">15 Products</p> {% endcomment %}
                <a href="{% url 'products' %}" class="cat-img position-relative overflow-hidden mb-3">
                    <img class="img-fluid" src="{% static 'theme/img/cat-6.jpg' %}" alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Ayakkabı</h5>
            </div>
        </div>
    </div>
</div>
<!-- Categories End -->


<!-- Offer Start -->
<div class="container-fluid offer pt-5">
    <div class="row px-xl-5">
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                <img src="{% static 'theme/img/offer-1.png' %}" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">Tüm siparişlerde %20 indirim</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Bahar koleksiyonu</h1>
                    <a href="{% url 'products' %}" class="btn btn-outline-primary py-md-2 px-md-3">Satın Al</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 pb-4">
            <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                <img src="{% static 'theme/img/offer-2.png' %}" alt="">
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">Tüm siparişlerde %20 indirim</h5>
                    <h1 class="mb-4 font-weight-semi-bold">Kış Koleksiyonu</h1>
                    <a href="{% url 'products' %}" class="btn btn-outline-primary py-md-2 px-md-3">Satın Al</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->


<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">En Çok Satan Ürünler</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        {% for urun in urunler %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{ urun.resim.url }}" alt="{{urun.isim}}" style="height: 300px;">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{urun.isim}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>{{urun.fiyat}}₺</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{% url 'urun_detay' urun.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Görüntüle</a>
                        <a href="{% url 'sepete_ekle' urun.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Sepete Ekle</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- Products End -->


<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="vendor-item border p-4">
                    <img src="{% static 'theme/img/vendor-1.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'theme/img/vendor-2.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'theme/img/vendor-3.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'theme/img/vendor-4.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'theme/img/vendor-5.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'theme/img/vendor-6.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'theme/img/vendor-7.jpg' %}" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="{% static 'theme/img/vendor-8.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
{% endblock %}