{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
	
<section class="py-2">
    <div class="container">
        <div class = "title text-center py-2">
            <h2 class = "position-relative d-inline-block">Ürünlerimiz</h2>
        </div>
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show text-center mx-auto" role="alert" style="max-width: 50%;">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class = "row mt-3 mb-4 button-group filter-button-group">
            <div class = "col d-flex justify-content-center">
                <a href="{% url 'products' %}" class="btn btn-light m-2 text-dark rounded-5 active">Hepsi</a>
                {% for kategori in ana_kategoriler %}
                    <a href="{% url 'urunler_by_kategori' kategori.id %}" class="btn btn-light m-2 text-dark rounded-5">{{ kategori.baslik }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="right-single" style="position: sticky; top: 20;">
                    <div class="widget-search">
                        <div class="site-search-area">
                            <h5>Arama</h5>
                            <form method="get" id="site-searchform" action="{% url 'search' %}">
                                <div class="form-group mb-3">
                                    <input class="input-text form-control" name="search" placeholder="Kelime ara.." type="text">
                                </div>
                                <input id="searchsubmit" class="btn btn-primary rounded-4" value="Search" type="submit">
                            </form>
                        </div>
                    </div>
                    <div class="widget-price-range mt-4">
                        <h5>Fiyat Aralığı</h5>
                        <form method="get" action="{% url 'search' %}">
                            <div class="form-group mb-3">
                                <label for="min_price">Min Fiyat:</label>
                                <input type="number" class="form-control" id="min_price" name="min_price" placeholder="Min Fiyat" value="{{ request.GET.min_price }}">
                            </div>
                            <div class="form-group mb-3">
                                <label for="max_price">Max Fiyat:</label>
                                <input type="number" class="form-control" id="max_price" name="max_price" placeholder="Max Fiyat" value="{{ request.GET.max_price }}">
                            </div>
                            <button type="submit" class="btn btn-primary rounded-4">Filtrele</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class = "row mt-5">
                    {% if urunler %}
                        {% for urun in urunler %}
                            <div class = "col-6 col-md-4 col-lg-4 col-xl-3 p-2 mb-3">
                                <div class="card">
                                    <div class = "special-img position-relative overflow-hidden">
                                        <a href="{% url 'urun_detay' urun.id %}">
                                            <img src = "{{ urun.resim.url }}"  alt="{{urun.isim}}" class = "w-100" style="height: 300px;">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class = "text-center">
                                            <a style="text-decoration: none; color: inherit;" href="{% url 'urun_detay' urun.id %}"><p class = "text-capitalize mt-3 mb-1" style="max-width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{urun.isim}}</p></a>
                                            <span class = "fw-bold d-block">{{urun.fiyat}}₺</span>
                                            <a href = "{% url 'sepete_ekle' urun.id %}" class = "btn btn-outline-dark mt-3 rounded-5" style="opacity: 0.7;">Sepete Ekle</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3 class="text-center">Ürün bulunamadı.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}