{% extends 'partials/_base.html' %}

{% load static %}

{% block content %}

    <section class="py-2">
        <div class = "title text-center py-5 bg-light">
            <h2 class = "position-relative d-inline-block">Adres Seçimi</h2>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="container-fluid">
                {% if adreses %}
                    <h5>Adres Seçiminizi Yapınız:</h5>
                    <form id="addressForm" method="post" action="{% url 'payment' %}">
                        {% csrf_token %}
                        <select name="selectedAddress" id="selectedAddress" class="form-select">
                            <option disabled selected>Seçiniz..</option>
                            {% for adres in adreses %}
                                <option value="{{ adres.id }}">{{ adres.isim }} - {{ adres.adres }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="totalAmount" value="{{ total_amount }}">
                        <button type="submit" class="btn btn-primary mt-0">Adresi Seç</button>
                    </form>
                {% else %}
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p>Sistemimizde kayıtlı adresiniz bulunmamaktadır.</p>
                        <a href="{% url 'yeni_adres_ekle' %}"
                           class="btn btn-type-primary">Yeni Adres Ekle</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}